body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  color: white;
}

h1  {
  font-size: 50px;
  font-weight: inherit;
}

h1+p {
  color: aquamarine;
  font-size: 16px;
  font-weight: inherit;
  text-decoration: underline;
}
